body {
  font-family: sans-serif;
  background:url("bg.jpg") repeat;
}

.container {
  
  width: 700px;
  margin: auto;
  min-height: 100%;
  text-align:center;
}
.button-building{
  box-sizing: border-box;
  width:300px;
  height:100px;
}
.button-role{
  box-sizing: border-box;
  width:300px;
  height:100px;
  margin-left:100px;
  margin-right:100px;
  margin-bottom:20px;
}
.button-widget{
  box-sizing: border-box;
  width:300px;
  height:100px;
  margin-left:100px;
  margin-right: 100px;
  margin-bottom:20px;
}
.slideri{
  box-sizing: border-box;
  width:300px;
  background-color:transparent;
  height:100px;
  float:center;
}
.button-room{
  box-sizing: border-box;
  width:200px;
  height:200px;
  margin-left:200px;
  margin-right:200px;
  margin-bottom:20px;
}

.building{
  float:center; 
  margin:20px; 
  cursor:pointer;
}

.bakki{
  width:50px;
  height:50px;
  float:right;
  cursor:pointer;
}
td {
  width:20%;
  text-align:left;
}



h1 {
  font-size: 2.0em;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  float: center;
}

h2 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }
}

  .search {
    width: 150px;
    clear: both;
  }
